#sort-container {


    background: #008f99;
    padding-top: 4%;
    text-align: center;
    display: block;
    margin: 0 auto;
   
 }

 #reverse-container {
    background: #00a870;
    padding-top: 4%;
    text-align: center;
    display: block;
    margin: 0 auto;
 }

 #devowel-container {
  
    background: #008f99;
    padding-top: 4%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

 #repeat-container{
    background: #00a870;
    padding-top: 4%;
    text-align: center;
    display: block;
    margin: 0 auto;
 }

footer {
    background: #87cef5;
    padding-bottom: 1%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

h1 {

    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 3%;
    color: rgb(0, 0, 134);
    
       }
p {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgb(2, 1, 54);
    

       }
body {

    background-color: rgb(240, 240, 240);
    
}